html, body {
  height: 100%;
  width: 100%;
  background-color: #0e1525;
  color: white;
}

h1, h2 {
  font-family: monospace;
  font-weight: extra-bold;
  font-size: 55px;
  text-align: center;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 12px;
  font-family: sans-serif;
  background-color: #1c2333;
  padding: 20px;
  text-align: center;
}

img {
  background-color: #1c2333;
  padding: 20px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.port {
  font-family: sans-serif;
  font-style: italic;
  font-weight: bold;
}

.p {
  background-color: #0e1525;
}

.g {
  background-color: #0e1525;
}

.group button {
  background-color: #1c2333; /* Green background */
  border: 5px #0e1525; /* Green border */
  color: darkblue; /* White text */
  padding: 16px 32px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-size: 16px
}

/* Clear floats (clearfix hack) */
.group:after {
  content: "";
  clear: both;
  display: table;
}

.group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.group button:hover {
  background-color: #1c1f2c;
}